Babel==2.3.4
Django==1.11.23
django-rest-auth==0.7.0
djangorestframework==3.3.3
django-sendsms==0.2.3
plivo==0.11.1
flake8==2.5.4
psycopg2==2.6.1
py==1.4.31
pyflakes==1.0.0
pytest==3.0.5
pytest-postgresql==1.1.1
pytest-mock==1.0
pytest-django==3.0.0
pytest-flake8==0.5
six==1.10.0
invoke==0.13.0
pprintpp==0.2.3
# We grab one bag of crypto from pynacl, which gives us the Curve25519 primitives
pynacl==1.0.1
# We grab another bag of crypto from cryptography, which gives us AES-GCM and others
cryptography==1.4
git+https://github.com/Qabel/qabel-web-theme.git@0.1.5
django-bootstrap-form==3.2.1
phonenumbers==7.6.0
django-prometheus==1.0.8
requests==2.11.1
