Babel==2.3.4
Django==1.9.6
django-phonenumber-field==1.1.0
django-rest-auth==0.7.0
djangorestframework==3.3.3
django-mail-templated==2.6.2
django-sendsms==0.2.3
twilio==5.4.0
flake8==2.5.4
psycopg2==2.6.1
py==1.4.31
pyflakes==1.0.0
pytest==2.9.1
pytest-dbfixtures==0.13.1
pytest-mock==1.0
# Contains fix for pytest-django#289
# When 2.9.2 is released the fix will be included.
git+https://github.com/pytest-dev/pytest-django.git
pytest-flake8==0.5
six==1.10.0
invoke==0.13.0
pprintpp==0.2.3
# We grab one bag of crypto from pynacl, which gives us the Curve25519 primitives
pynacl==1.0.1
# We grab another bag of crypto from cryptography, which gives us AES-GCM and others
cryptography==1.4
phonenumbers==7.6.0
git+https://github.com/enkore/django-prometheus@34191053cc8beadd51f0b277ff28a329633de261
