{% extends "mail_base.html" %}
{% load i18n %}

{# Actually never used #}
{% block title %}{% trans "confirmation mail title" context "HTML" %}{% endblock %}

{% block maintitle %}<h2>{% trans "confirmation mail title" context "HTML" %}</h2>{% endblock %}

{% block nativeheading %}
{% endblock %}

{% block englishheading %}
{% endblock %}

{% block nativecontent %}
    {% if action == 'create' %}
        <p>{% blocktrans %}requested to link email address {{ email }}{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans %}requested to unlink email address {{ email }}{% endblocktrans %}</p>
    {% endif %}

    <dl>
    <dt>{% trans "alias label" %}</dt>
    <dd>{{ identity.alias }}</dd>

    <dt>{% trans "public key label" %}</dt>
    <dd>{{ identity.public_key }}</dd>
    </dl>

    <p>{% trans "link to review page follows" %}</p>

    <p>
        <a href="{{ review_url }}"
           style="background-color: #ff5908; border-radius: 4px; color: white; padding: 5px; text-decoration: none;">{% trans "review button text" %}</a>
    </p>
{% endblock %}

{% block englishcontent %}
{% language "en" %}
    {% if action == 'create' %}
        <p>{% blocktrans %}requested to link email address {{ email }}{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans %}requested to unlink email address {{ email }}{% endblocktrans %}</p>
    {% endif %}

    <dl>
    <dt>{% trans "alias label" %}</dt>
    <dd>{{ alias }}</dd>

    <dt>{% trans "public key label" %}</dt>
    <dd>{{ public_key }}</dd>
    </dl>

    <p>{% trans "link to review page follows" %}</p>

    <p>
        <a href="{{ review_url }}"
           style="background-color: #ff5908; border-radius: 4px; color: white; padding: 5px; text-decoration: none;">{% trans "review button text" %}</a>
    </p>
{%  endlanguage %}
{% endblock %}